:host {
  position: relative;
  display: block;
  left: 0;
  right: 0;
  height: 100%;
}

.gridster-container {
    position: relative;
    height: 100%;
    list-style: none;
    /* Will be modified by the grid jquery lib, depending on the items */
    -webkit-transition: width 0.2s,
    height 0.2s;
    transition: width 0.2s,
    height 0.2s;
}

.position-highlight {
  display: block;
  position: absolute;
  z-index: 1;

  .inner {
    position: absolute;
    background-color: #768294;
    border: 1px solid transparent;
    top: 0;
    bottom: 10px;
    left: 10px;
    right: 0;
    -webkit-transition: background 3s;
    transition: background 3s;

    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  }
}