:host {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	cursor: pointer;
	-webkit-transition: top 0.2s,
 left 0.2s,
 width 0.2s,
 height 0.2s,
 font-size 0.2s,
 line-height 0.2s;
	transition: top 0.2s,
 left 0.2s,
 width 0.2s,
 height 0.2s,
 font-size 0.2s,
 line-height 0.2s;
}

:host.is-dragging {
	-webkit-transition: none;
	transition: none;
	z-index: 9999;
}

:host.no-transition {
	-webkit-transition: none;
	transition: none;
}