<div class="a2g-panel__heading a2g-drag-handler" title="Drag me">

    <div class="a2g-panel__heading-title">

        <h6 class="a2g-panel__heading-title-text"> {{ title }}</h6>

        <div (click)="remove.emit($event)" class="a2g-panel__heading-title-icon a2g-btn__remove" title="Remove item" *ngIf="options.removable">
            <i class="material-icons">clear</i>
        </div>

    </div>

    <div class="a2g-panel__heading-config">

        <div class="a2g-form-group" *ngIf="options.hasMoveSwitcher">
            <label>Move</label>
            <ui-switch [ngModel]="move" (change)="moveChange.emit($event)" size="small" color="#ff4081"></ui-switch>
        </div>

        <div class="a2g-form-group" *ngIf="options.hasResizeSwitcher">
            <label>Resize</label>
            <ui-switch [ngModel]="resize" (change)="resizeChange.emit($event)" size="small" color="#ff4081"></ui-switch>
        </div>

    </div>
</div>

<div class="a2g-panel__body">
    <ng-content></ng-content>
</div>