app-root {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  position: relative;
  flex: 0;
  font-size: 22px;
  padding: 0 20px;
  height: 50px;
  margin: 0;
}

.omnibar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  flex: 0 1 auto;
  width: 100%;
  /*overflow: hidden;*/
}

.toolbar {
  position: relative;
  padding-left: 10px;
}

.widgetbar {
  position: relative;
  padding: 10px 0;
  width: 275px;
}

.main-content {
  width: 100%;
  flex: 1 0px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.dashboard {
  flex: 1;
}

.panel-heading {
  border-bottom: 1px solid #F0F0F0;
  display: inline-block;
  position: relative;
  width: 100%;
  top: 0;
}
.panel-heading .panel-title {
  padding: 10px;
  margin: 0;
}

.panel-body {
  overflow: auto;
  position: absolute;
  padding: 0 10px 10px;
  top: 37px;
  bottom: 0;
  left: 0;
  right: 0;
}
.variable-height .panel-body {
  position: relative;
  top: 0;
}

.gridster-item-prototype {
  display: block;
  background-color: #afafaf;
  position: relative;
  float: left;
  z-index: 99;
  text-align: center;
  font-weight: bold;
  margin: 5px;
  width: 80px;
  height: 60px;

}

.gridster-item-prototype.is-over .gridster-item-inner {

  visibility: visible;
}

.gridster-item-prototype .gridster-item-inner {
  position: absolute;
  top:0;
  left: 0;
  overflow: auto;
  width: 80px;
  height: 60px;
  visibility: hidden;

  -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.position-highlight .inner {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;

  background-color: #768294;
  border: 1px solid transparent;
  -webkit-transition: background 3s;
  transition: background 3s;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.gridster-item-inner {
  position: absolute;
  background: #fff;
  border: 1px solid transparent;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  -webkit-transition: background 3s;
  transition: background 3s;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.variable-height .gridster-item-inner {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.is-dragging .gridster-item-inner {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.48);
  top: -3px;
  bottom: 13px;
}
