<header class="a2g-header a2g-header-first">
    <div class="a2g-header-col-title">
        <h1 class="a2g-title">swiety85</h1>
    </div>
    <div class="a2g-middle-space"></div>
</header>
<nav class="a2g-header a2g-header-second">
    <ul class="a2g-navbar">
        <li class="a2g-active">
            <a href="#">
                <i class="material-icons margin-right">dashboard</i>
                Angular2gridster
            </a>
        </li>
    </ul>
    <div class="a2g-middle-space"></div>
    <div class="a2g-navbar-buttons">
        <button md-button (click)="widgetbar.open(); $event.stopPropagation()" class="a2g-aside-buttons-bar__btn">
            Add widget
        </button>
    </div>
</nav>
<md-sidenav-container class="a2g-sidenav-container">
    <div class="a2g-container" [ngClass]="{'a2g-right-aside--closed': !isAsideOpen}">
        <main class="a2g-main">


            <gridster [options]="gridsterOptions" [draggableOptions]="{handlerClass: 'a2g-drag-handler'}" #gridster1>

                <gridster-item *ngFor="let widget of getWidgets(); let i = index"
                               [options]="itemOptions"
                               [dragAndDrop]="widget.dragAndDrop" [resizable]="widget.resizable"
                               [(x)]="widget.x" [(y)]="widget.y"
                               [(xSm)]="widget.xSm" [(ySm)]="widget.ySm"
                               [(xMd)]="widget.xMd" [(yMd)]="widget.yMd"
                               [(xLg)]="widget.xLg" [(yLg)]="widget.yLg"
                               [(xXl)]="widget.xXl" [(yXl)]="widget.yXl"
                               [(w)]="widget.w" [(h)]="widget.h"
                               (change)="widgetChanged()"
                               [ngClass]="{'a2g-draggable': widget.dragAndDrop && gridsterOptions.dragAndDrop}">

                    <a2g-widget-panel [title]="widget.title" [options]="widget"
                                [(move)]="widget.dragAndDrop"
                                [(resize)]="widget.resizable"
                                (remove)="removeItem(i)">

                        <ng-template [a2gDynamicComponent]="getComponentType(widget)"
                                     [attributes]="{data: widget.data}"></ng-template>
                    </a2g-widget-panel>

                </gridster-item>

            </gridster>


        </main>
    </div>



    <md-sidenav #sidenav mode="side" [opened]="isAsideOpen" align="end" class="a2g-right-aside" #rightAside (close)="gridster1.reload()" (open)="gridster1.reload()">
        <div class="a2g-aside-buttons-bar">
            <button md-button (click)="rightAside.close(); isAsideOpen=false" class="a2g-aside-buttons-bar__btn">
                <md-icon>keyboard_arrow_right</md-icon>
            </button>
        </div>
        <a2g-gridster-configurator [gridster]="gridster1"></a2g-gridster-configurator>
    </md-sidenav>


</md-sidenav-container>
<div class="a2g-mini-sidebar" *ngIf="!isAsideOpen">
    <button md-button (click)="rightAside.open(); isAsideOpen=true" class="a2g-mini-sidebar__btn">
        <md-icon>keyboard_arrow_left</md-icon>
    </button>
</div>

<a2g-widget-bar (drop)="addWidget($event)" #widgetbar [ngClass]="{'a2g-right-aside--open': isAsideOpen}"></a2g-widget-bar>


