:host {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1;
}

.a2g-header {
    display: flex;
    position: relative;
    min-height: 46px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;

    border: 1px solid transparent;

    @media (min-width: 769px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.a2g-header-first {
    color: #fff;
    background-color: #37474f;
    border-color: rgba(255,255,255,.1);
}

.a2g-header-second {
    background-color: #fff;
    border-color: #ddd;
    border-top-color: transparent;
}

.a2g-header-col-title {
    display: flex;
    align-items: center;

    .a2g-logo {
        flex: 0 1 auto;
        width: 35px;
        height: 35px;
        background-color: #ffffff;
    }
    .a2g-title {
        flex: 1;

        margin: 0 20px;
        padding: 0;
        font-size: 22px;
    }
}

.a2g-navbar {
    padding-left: 0;
    list-style: none;
    margin: 0;
    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    li {
        display: flex;
        align-items: stretch;
        align-content: center;

        a {
            display: flex;
            align-items: center;
            align-content: center;
            padding: 0 15px;
        }

        &.a2g-active {
            a {
                color: #333;
                background-color: #f8f8f8;
            }
        }
    }
}

.a2g-middle-space {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}

.a2g-sidenav-container {
    flex: 1;
}

.a2g-container {
    display: flex;
    flex: 1;
    min-height: 400px;
    overflow-x: hidden;

    .a2g-main {
        flex: 1;
        padding: 5px;

        @media (min-width: 769px) {
            padding: 20px;
        }
    }

    .a2g-nav, .a2g-ads {
        /* 12em is the width of the columns */
        flex: 0 0 24em;
    }

    .a2g-nav {
        /* put the nav on the left */
        order: -1;
    }
}

.a2g-right-aside--closed {
    .a2g-main {
        padding-right: 35px;

        @media (min-width: 769px) {
            padding-right: 50px;
        }
    }
}

.a2g-ads {
    display: flex;
    background-color: #ffffff;
    flex-direction: row;

    .a2g-ads__action-area {
        flex: 0 0 auto;
        width: 30px;
    }

    .a2g-ads__main-area {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.a2g-right-aside {
    width: 100%;
    border-left: 1px solid #dddddd;
    box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.05);
    padding: 10px 10px 10px 40px;
    display: flex;

    @media (min-width: 769px) {
        width: 250px;
    }
}

.a2g-aside-buttons-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 30px;
    display: flex;
    flex-direction: column;

    .a2g-aside-buttons-bar__btn {
        min-width: 30px;
        width: 30px;
        padding: 0;
        height: 60px;
    }
}

.a2g-mini-sidebar {
    width: 30px;
    border-left: 1px solid #dddddd;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.05);
    padding: 0;
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    outline: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    background-color: #fff;
    color: rgba(0,0,0,.87);

    .a2g-mini-sidebar__btn {
        min-width: 30px;
        width: 30px;
        padding: 0;
        height: 60px;
    }
}

//.toolbar {
//    position: relative;
//    padding: 0 20px;
//}
//
//.widgetbar {
//    width: 100%;
//    position: relative;
//    height: 100px;
//    padding: 10px 0;
//}
//
//.main-content {
//    position: absolute;
//    top: 200px;
//    left: 0;
//    width: 100%;
//}
//
//.panel-heading {
//    border-bottom: 1px solid #F0F0F0;
//    display: inline-block;
//    position: relative;
//    width: 100%;
//    top: 0;
//}
//.panel-heading .panel-title {
//    padding: 10px;
//    margin: 0;
//}
//
//.panel-body {
//    overflow: auto;
//    padding: 0 10px 10px;
//    position: absolute;
//    top: 37px;
//    bottom: 0;
//    left: 0;
//    right: 0;
//}
//
//.gridster-item-prototype {
//    display: block;
//    background-color: #afafaf;
//    position: relative;
//    float: left;
//    z-index: 99;
//    text-align: center;
//    font-weight: bold;
//    margin: 5px;
//    width: 80px;
//    height: 60px;
//
//}
//
//.gridster-item-prototype.is-over .gridster-item-inner {
//
//    visibility: visible;
//}
//
//.gridster-item-inner {
//    position: absolute;
//    top:0;
//    left: 0;
//    overflow: auto;
//    width: 80px;
//    height: 60px;
//    visibility: hidden;
//
//    -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
//    -moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
//    -o-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
//    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
//}
//







