<h1>
    {{getTitle()}}
</h1>
<div class="toolbar">
    Lanes:
    <button (click)="removeLine(gridster)">-</button>
    {{ gridsterOptions.lanes }}
    <button (click)="addLine(gridster)">+</button>

    <button (click)="addWidgetWithoutData()">
        Add widget without data
    </button>
    <br>
    <label for="ratio">Ratio</label><input type="number" id="ratio" [(ngModel)]="gridsterOptions.widthHeightRatio" min="0.1"
           (change)="gridster.setOption('widthHeightRatio', gridsterOptions.widthHeightRatio).reload()">

    <input type="checkbox" [(ngModel)]="gridsterOptions.dragAndDrop" value="true"
                     (change)="gridster.setOption('dragAndDrop', gridsterOptions.dragAndDrop)"> Draggable

    <input type="checkbox" [(ngModel)]="gridsterOptions.resizable" value="true"
                     (change)="gridster.setOption('resizable', gridsterOptions.resizable)"> Resizable
    <br>
    Direction
    <label>
        <input type="radio" [(ngModel)]="gridsterOptions.direction" value="horizontal"
               (change)="gridster.setOption('direction', 'horizontal').reload()">Horizontal
    </label>
    <label>
        <input type="radio" [(ngModel)]="gridsterOptions.direction" value="vertical"
               (change)="gridster.setOption('direction', 'vertical').reload()">Vertical
    </label>
    <br>
    Max size: {{gridsterOptions.maxWidth}} x {{gridsterOptions.maxHeight}}
</div>
<div class="widgetbar">
    <div gridsterItemPrototype [config]="{helper: true}" [w]="1" [h]="1"
         (drop)="addWidgetFromDrag(gridster, $event)"
         (enter)="over($event)"
         (out)="out($event)"
         class="gridster-item-prototype">
        Drag me (clone)<br>
        1x1
        <div _ngcontent-uoe-1="" class="gridster-item-inner" style="width: 0;height: 0;">
            <div _ngcontent-uoe-2="" class="panel-heading">
                <h5 _ngcontent-uoe-2="" class="panel-title">New widget</h5>
            </div>
        </div>
    </div>

    <div gridsterItemPrototype [config]="{helper: true}" [w]="1" [h]="2"
         (drop)="addWidgetFromDrag(gridster, $event)"
         (enter)="over($event)"
         (out)="out($event)"
         class="gridster-item-prototype">
        Drag me (clone)<br>
        1x2
        <div _ngcontent-uoe-1="" class="gridster-item-inner" style="width: 0;height: 0;">
            <div _ngcontent-uoe-2="" class="panel-heading">
                <h5 _ngcontent-uoe-2="" class="panel-title">New widget</h5>
            </div>
        </div>
    </div>

    <div gridsterItemPrototype [config]="{helper: false}" [w]="2" [h]="1"
         (drop)="addWidgetFromDrag(gridster, $event)"
         (enter)="over($event)"
         (out)="out($event)"
         class="gridster-item-prototype">
        Drag me <br>
        2x1
        <div _ngcontent-uoe-1="" class="gridster-item-inner" style="width: 0;height: 0;">
            <div _ngcontent-uoe-2="" class="panel-heading">
                <h5 _ngcontent-uoe-2="" class="panel-title">New widget</h5>
            </div>
        </div>
    </div>
</div>
<div class="main-content">

    <gridster [options]="gridsterOptions" [draggableOptions]="gridsterDraggableOptions"
              (gridsterPositionChange)="logChanges($event)" (resize)="resize($event)" #gridster style="min-height: 500px;">

        <gridster-item *ngFor="let widget of widgets; let indx = index"
                       [(x)]="widget.x" [(y)]="widget.y"
                       [(w)]="widget.w" [(h)]="widget.h">

            <div class="panel-heading">
                <h5 class="panel-title">{{ widget.title }}</h5>
            </div>

            <div class="panel-body">
                <p>
                    <button (click)="setWidth(widget, widget.w+1, $event)">width +</button>
                    <button (click)="setWidth(widget, widget.w-1, $event)">width -</button>
                    <button (click)="setHeight(widget, widget.h+1, $event)">height +</button>
                    <button (click)="setHeight(widget, widget.h-1, $event)">height -</button>
                </p>
                <p>
                    <button (click)="remove($event, indx,gridster)">remove</button>
                </p>
                <p>
                    Position: {{widget.x}} x {{widget.y}}<br>
                    Size: {{widget.w}} x {{widget.h}}
                </p>
                <p>{{ widget.content }}</p>
            </div>

        </gridster-item>

    </gridster>
</div>