@import "../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
*, :after, :before {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333;
    background-color: #eeeded;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

hr {
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.margin-left {
    margin-left: 7px;
}
.margin-right {
    margin-right: 7px;
}




// Gridster styles
.position-highlight .inner {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;

    background-color: #768294;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid #ddd;
    color: #333;
}

.gridster-item-inner {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: #fff;
    color: rgba(0,0,0,.87);
    overflow: auto;

    // material design cart:
    //transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    //display: block;
    //padding: 24px;
    //border-radius: 2px;
    //box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid #ddd;
    color: #333;


    .slds-form-element__label {
        font-size: 1rem;
    }

    .slds-checkbox--toggle {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.is-dragging .gridster-item-inner {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    top: -3px;
    bottom: 13px;
}

.a2g-draggable {
    .a2g-drag-handler, &.a2g-drag-handler {
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        touch-action: none;
    }

    /* (Optional) Apply a "closed-hand" cursor during drag operation. */
    &.is-dragging .a2g-drag-handler, &.is-dragging.a2g-drag-handler {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }

    .a2g-btn__remove,
    .a2g-drag-handler .a2g-btn__remove {
        cursor: pointer;
    }
}


.a2g-form-group {
    display: flex;
    margin-right: 10px;

    label {
        margin-right: 10px;
    }

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }

    &.a2g-form-group--one-column {
        flex-direction: column;
    }
}

.a2g-title {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 1.4rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .a2g-title__icon {
        display: flex;
        flex: 0 1 auto;
        margin: 0 10px;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    .a2g-title__text {
        display: flex;
        flex: 1;
        font-size: 15px;
        font-weight: normal;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.m-botom {
    margin-bottom: 10px;
}
.m-top {
    margin-top: 10px;
}
.m-left {
    margin-left: 10px;
}
.m-right {
    margin-right: 10px;
}