/* You can add global styles to this file, and also import other style files */
*, :after, :before {
@include box-sizing(border-box);
}

html {
    overflow: hidden;
}

body {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333;
    background-color: #eeeded;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

p {
    display: inline-block;
    width: 100%;
}

.position-highlight .inner {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;

    background-color: #768294;
    border: 1px solid transparent;
    -webkit-transition: background 3s;
    transition: background 3s;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.gridster-item-inner {
    position: absolute;
    background: #fff;
    border: 1px solid transparent;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -webkit-transition: background 3s;
    transition: background 3s;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.is-dragging .gridster-item-inner {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.48);
    top: -3px;
    bottom: 13px;
}