:host {
	position: relative;
	display: block;
	left: 0;
	width: 100%;
}

.gridster-container {
	position: relative;
	width: 100%;
	list-style: none;
  /* Will be modified by the grid jquery lib, depending on the items */
	-webkit-transition: width 0.2s,
 height 0.2s;
	transition: width 0.2s,
 height 0.2s;
}

.position-highlight {
	display: block;
	position: absolute;
	z-index: 1;
}
