*, :after, :before {
@include box-sizing(border-box);
}

body {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333;
    background-color: #eeeded;
    margin: 0;
}

div {
    display: block;
}

a {
    text-decoration: none;
}